language: java
install: true

os: linux
dist: trusty
jdk: oraclejdk8

jobs:
  include:
    - stage: build
      script: ./gradlew clean jar
    - stage: test
      script: ./gradlew test
      after_success:
        - ./gradlew jacocoTestReport
        - find . -name jacocoTestReport.csv|xargs cat|awk -F',' '{print $3" "$4" "$5}'

before_deploy:
  - ./gradlew test jacocoTestCoverageVerification

deploy:
  provider: script
  script:
    - script: echo 'WIP'
